[gui]
[user]
	email = adam.grose1@gmail.com
	name = Adam
[gui]
[gui]
[gui]
[http]
	postBugger = 524288000
	postBuffer = 524288000
[gui]
[gui]
	recentrepo = C:/Users/agros_000/Desktop/CIS17B_48597_ClassProject
	recentrepo = C:/Users/agros_000/Desktop/push
	recentrepo = C:/Users/agros_000/Desktop/projectPush
